{{ $home := absURL "" }}
<header class="nav">
  <nav class="nav-menu">

    
    <img src="{{ $home }}/{{ .Site.Params.rh_logo }}" class="nav-logos hidden-on-mobile">
    <img src="{{ $home }}/{{ .Site.Params.rh_logo_mobile }}" class="nav-logos hidden-on-desktop">
    <a href="{{ $home }}" class="nav-brand nav_item" style="text-align: center;">
      {{ .Site.Title }}
    </a>
    <img src="{{ $home }}/{{ .Site.Params.cust_logo }}" class="nav-logos hidden-on-mobile" style="float:right;">
    <img src="{{ $home }}/{{ .Site.Params.cust_logo_mobile }}" class="nav-logos hidden-on-desktop" style="float:right;">

    <div class="nav_bar-wrap">
      <div class="nav_bar"></div>
    </div>
  </nav>
</header>
